body {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: 0.5fr 3fr;
  margin: 0;
  min-height: 100vh;
}

.container {
  grid-column: 2;
  grid-row: 2;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  align-items: center;
  padding-top: 2rem;
}
.header {
  background-color: green;
  grid-column: 2 / 3;
  align-items: center;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.title {
  color: white;
  font-size: 50px;
  margin-right: 20px;
  flex: 1;
}

.side-bar {
  grid-column: 1 / 2;
  grid-row: 1/3;

  background: #bbf7d0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
a {
  text-decoration: none;
  
}

.sidebar-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #14532d;
}
.sidebar-item a {
  text-decoration: none;
  flex: 1;
  width: 100%;
}
.sidebar-item {
  display: flex;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  color: #166534;
}

.sidebar-item:hover {
  background-color: rgba(22, 163, 74, 0.2);
  transform: translateX(4px);
}

.sidebar-item.active {
  background-color: #16a34a;
  color: white;
}

.sidebar-stat {
  font-size: 14px;
  margin-bottom: 8px;
  color: #166534;
}
