body {
    margin: 0;
   height: 3000px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    
    padding-top: 180px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
   
 
   
  
}
.header {
    background-color: green;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
    
   align-items: center;
   display: flex;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 20px;
   
   
}
.title {
    color: white;
    font-size: 50px;
    margin-right: 20px;
    flex: 1;
 
    
}
.side-bar {
    z-index: 0;
    background-color: rgb(206, 206, 206);
   position: fixed;
   top:80px;
   bottom: 0;
   min-width: 100px;
   

   
}