body {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  margin: 0;
  min-height: 100vh;
}

.container {
  grid-column: 2;
  grid-row: 2;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.header {
  background-color: green;
  grid-column: 1 / 3;
  align-items: center;
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.title {
  color: white;
  font-size: 50px;
  margin-right: 20px;
  flex: 1;
}
.side-bar {
  grid-column: 1 / 2;
  grid-row: 2/3;
  background-color: rgb(206, 206, 206);
}
